body{
    margin: 0;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
/*Nav and header section*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid seashell;
    height:69px;
}

.nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: underline;
    color: whitesmoke;
}
header a:hover{
    color: #FF6E31;
}
header img{
    width: 70%;
    position: relative;
    right: 75px;
}
/*Mission section*/
.container{
    position: relative;
    text-align: center;
}
.container-center{
    background-color: black;
    width: 1200px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Tea of the month section*/
  .container-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .image-items img{
    width: 300px;
    height: 200px;
  }
  /*Location Section of our site*/
.location-container{
    position: relative;
    text-align: center;
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    align-items: baseline;
}
.location-container-center{
    height: 450px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.location-container-information{
    display: flex;
    padding: 25px 25px;
}
.information-item{
    margin: 40px;
    width: 300px;
    background-color: rgb(149, 0, 0);
}
/*Footer*/
.footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid seashell;
    height:69px;
}

@media only screen and (min-width:300px) and (max-width: 500px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    nav{
        display: none;
    }
   .mission-image{
        margin-top: 20px;
        min-width:300px;
   }
   .container-center{
    position: relative;
    font-size: 1.75rem;
    width: 300px;
   }
   .container-para{
         font-size: 1.5rem;
         text-align: center;

   }
   .location-container{
    padding-bottom: 500px;
   }
   .location-container-information{
    flex-wrap: wrap;
   }
   .footer{
    font-size: small;
    flex-wrap: wrap;
    position:relative;
    margin-top: 300px;
    justify-content: space-evenly;
   }
   .location-image{
    min-width: 250px;
    min-height: 200px;
   }
   .location-header{
    color: black;
   }
}